body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    height: 100vh;
}

.left, .center, .right {
    width: 33.33%;
    padding: 20px;
    box-sizing: border-box;
}

#priceChart {
    width: 100%;
    height: 300px;
}

.left {
    background-color: #fafafa;
    border-right: 1px solid #ccc;
    overflow-y: auto;
}

.center {
    background-color: #ffffff;
    border-right: 1px solid #ccc;
    overflow-y: auto;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.right {
    background-color: #ffffff;
    overflow-y: auto;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="url"], input[type="text"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

input[type="url"]:focus, input[type="text"]:focus {
    border-color: #007bff;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.3);
}

button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

#monitoringList {
    list-style: none;
    padding: 0;
}

#monitoringList li {
    padding: 20px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    border-radius: 6px;
    border: 1px solid #ddd;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

#monitoringList li:hover {
    background-color: #e9f0ff;
}

.product-info {
    text-align: left;
    padding: 10px;
    background-color: transparent;
    margin-bottom: 10px;
}

.product-info h3 {
    margin: 0;
    font-size: 20px;
    color: #007bff;
}

.product-info p {
    margin: 5px 0;
    color: #555;
}

.price-history-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.price-history-table th,
.price-history-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.price-history-table th {
    background-color: #007bff;
    color: white;
}

.price-history-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.price-history-table tr:hover {
    background-color: #e9f0ff;
    cursor: pointer;
}

.price-history-table td {
    color: #333;
}
